In [2]:
import numpy as np
import pandas as pd

# Listing 1: Restaurant set
Re s tau ran t ID , x , y

In [3]:
restaurants = pd.read_csv(
    "https://raw.githubusercontent.com/xoyeon/mdrplib/master/public_instances/0o100t100s1p100/restaurants.txt",
    sep = '\t'
)
# restaurants.columns = ['restaurant', 'restaurant_x', 'restaurant_y']
restaurants

    restaurant     x     y
0           r1  8708  5633
1           r2  9103  6345
2           r3  8991  6342
3           r4  8542  5317
4           r5  7577  5076
..         ...   ...   ...
111       r112  8884  7405
112       r113   796  6628
113       r114  7526  7726
114       r115  9843  9303
115       r116  4989  7474

[116 rows x 3 columns]

# Listing 2: Order set
Order ID , x , y , placement time , Re s tau ran t ID , ready time

In [4]:
orders = pd.read_csv(
    "https://raw.githubusercontent.com/xoyeon/mdrplib/master/public_instances/0o100t100s1p100/orders.txt",
    sep = '\t'
)
# orders.columns = ['order', 'order_x', 'order_y', 'placement_time', 'restaurant', 'ready_time']
orders

    order     x     y  placement_time restaurant  ready_time
0      o1  9131  7497             743         r1         753
1      o2  9024  6677             541         r2         557
2      o3  5645  7048             626         r3         656
3      o4  6019  5613             566         r4         582
4      o5  7083  5106             574         r5         582
..    ...   ...   ...             ...        ...         ...
500  o501  6531  4914             497       r102         521
501  o502  3813  8200             289        r99         325
502  o503  3023  4692             576        r93         588
503  o504  9417  4103             623        r28         649
504  o505  8804  5179             597         r7         604

[505 rows x 6 columns]

# Listing 3: Courier set
Co u ri e r ID , x , y , on−time , off −tim

In [5]:
couriers = pd.read_csv(
    "https://raw.githubusercontent.com/xoyeon/mdrplib/master/public_instances/0o100t100s1p100/couriers.txt",
    sep = '\t')
# couriers.columns = ['courier', 'courier_x', 'courier_y', 'on_time', 'off_time']
couriers

    courier      x      y  on_time  off_time
0        c1  11491   2806        0        90
1        c2   7950    223        0        90
2        c3   2818  10568       30       210
3        c4  12413   7222       90       270
4        c5   3572   3264       90       270
..      ...    ...    ...      ...       ...
108    c109  10855   7784      690       810
109    c110   7038   5694      690       840
110    c111   5013   2778      690       810
111    c112   8236   1518      690       810
112    c113   4981   4827      690       840

[113 rows x 5 columns]

In [6]:
rest_orders = pd.merge(restaurants, orders, how='inner', on=['restaurant'])
rest_orders.columns = ['restaurant', 'rx', 'ry', 'order', 'ox', 'oy', 'placement_time', 'ready_time']
rest_orders

    restaurant    rx    ry order     ox    oy  placement_time  ready_time
0           r1  8708  5633    o1   9131  7497             743         753
1           r1  8708  5633    o8   7940  6877             612         622
2           r1  8708  5633   o21   7377  5287             336         346
3           r1  8708  5633   o26   6992  7441             623         633
4           r1  8708  5633   o38  10981  6805             594         614
..         ...   ...   ...   ...    ...   ...             ...         ...
500       r112  8884  7405  o426  10229  7353             124         154
501       r113   796  6628  o430    953  4911              73         104
502       r114  7526  7726  o445   9454  7984             646         661
503       r115  9843  9303  o451   9671  8669             741         771
504       r116  4989  7474  o487   7585  7376             181         200

[505 rows x 8 columns]

In [7]:
couriers[['on_time', 'off_time']]

     on_time  off_time
0          0        90
1          0        90
2         30       210
3         90       270
4         90       270
..       ...       ...
108      690       810
109      690       840
110      690       810
111      690       810
112      690       840

[113 rows x 2 columns]

In [9]:
orders.sort_values('placement_time')

    order      x     y  placement_time restaurant  ready_time
305  o306   3960  8075               4        r99          11
145  o146   4417  5612              13        r54          28
88    o89   8428  4745              24        r50          29
239  o240  10122  7881              29        r67          46
226  o227  10149  8393              33        r39          48
..    ...    ...   ...             ...        ...         ...
483  o484   8806  6827             776        r28         786
80    o81   9098  8163             776         r1         786
184  o185   6477  9639             778        r52         788
230  o231   6155  6841             784        r14         802
131  o132   9261  8813             792        r63         822

[505 rows x 6 columns]

In [22]:
w = [(  0,  90), (  0,  90), ( 30, 210), ( 90, 270), ( 90, 270),
           ( 90, 270), ( 90, 270), ( 90, 270), ( 90, 270), ( 90, 210),
           ( 90, 270), ( 90, 210), ( 90, 270), ( 90, 270), ( 90, 270),
           ( 90, 270), ( 90, 270), ( 90, 270), ( 90, 270), ( 90, 270),
           ( 90, 270), ( 90, 293), ( 90, 270), ( 90, 270), ( 90, 270),
           (210, 330), (210, 330), (270, 450), (270, 450), (270, 450),
           (270, 450), (270, 450), (270, 450), (270, 450), (270, 450),
           (270, 450), (270, 450), (390, 510), (390, 510), (400, 450),
           (450, 560), (450, 630), (450, 630), (450, 630), (450, 630),
           (450, 630), (450, 630), (450, 630), (450, 630), (450, 630),
           (450, 630), (450, 645), (450, 630), (450, 630), (450, 630),
           (450, 630), (450, 630), (450, 630), (450, 630), (450, 630),
           (450, 630), (450, 630), (450, 630), (450, 630), (450, 630),
           (510, 630), (510, 690), (510, 690), (510, 690), (510, 690),
           (510, 690), (510, 690), (510, 690), (510, 690), (510, 690),
           (510, 690), (510, 690), (510, 690), (510, 690), (510, 690),
           (510, 630), (510, 690), (510, 690), (510, 690), (510, 690),
           (510, 690), (510, 630), (510, 690), (510, 630), (510, 690),
           (510, 690), (510, 690), (630, 750), (630, 750), (630, 750),
           (630, 750), (630, 750), (630, 750), (630, 702), (630, 750),
           (630, 750), (630, 750), (630, 750), (630, 750), (690, 810),
           (690, 840), (690, 810), (690, 810), (690, 810), (690, 840),
           (690, 810), (690, 810), (690, 840)]
wh = list(set(w))
wh.sort()
print(wh, "수 :",len(wh))

[(0, 90), (30, 210), (90, 210), (90, 270), (90, 293), (210, 330), (270, 450), (390, 510), (400, 450), (450, 560), (450, 630), (450, 645), (510, 630), (510, 690), (630, 702), (630, 750), (690, 810), (690, 840)] 수 : 18

In [27]:
from collections import Counter
cnt = Counter(w)
cnt.most_common(5)

[((450, 630), 23),
 ((510, 690), 23),
 ((90, 270), 19),
 ((630, 750), 11),
 ((270, 450), 10)]

In [73]:
print(couriers[(couriers['on_time'] >=0) & (couriers['off_time'] <= 90)])
print("--------------")
print(orders[(orders['placement_time'] >=0) & (orders['ready_time'] <= 90)])

  courier      x     y  on_time  off_time
0      c1  11491  2806        0        90
1      c2   7950   223        0        90
--------------
    order      x     y  placement_time restaurant  ready_time
88    o89   8428  4745              24        r50          29
120  o121   6363  5770              59        r13          78
145  o146   4417  5612              13        r54          28
158  o159  11001  7930              36        r67          56
226  o227  10149  8393              33        r39          48
239  o240  10122  7881              29        r67          46
305  o306   3960  8075               4        r99          11
389  o390   5656  7629              49        r99          88

In [74]:
print(couriers[(couriers['on_time'] >=30) & (couriers['off_time'] <= 210)])
print("--------------")
print(orders[(orders['placement_time'] >=30) & (orders['ready_time'] <= 210)])

   courier      x      y  on_time  off_time
2       c3   2818  10568       30       210
9      c10  10640   1782       90       210
11     c12   1665   6706       90       210
--------------
    order      x     y  placement_time restaurant  ready_time
5      o6  10874  7195             131         r6         144
21    o22   2210  6886             152        r19         160
26    o27   9531  8542             202        r21         208
39    o40   8214  7847             137        r31         147
41    o42   8971  5984             146        r31         162
..    ...    ...   ...             ...        ...         ...
467  o468   2613  6438             105        r11         125
468  o469   7467  5117             190        r15         192
486  o487   7585  7376             181       r116         200
493  o494   6375  5646             171        r31         181
496  o497   8743  8768             199        r67         209

[61 rows x 6 columns]

In [75]:
print(couriers[(couriers['on_time'] >=90) & (couriers['off_time'] <= 210)])
print("--------------")
print(orders[(orders['placement_time'] >=90) & (orders['ready_time'] <= 210)])

   courier      x     y  on_time  off_time
9      c10  10640  1782       90       210
11     c12   1665  6706       90       210
--------------
    order      x      y  placement_time restaurant  ready_time
5      o6  10874   7195             131         r6         144
21    o22   2210   6886             152        r19         160
26    o27   9531   8542             202        r21         208
39    o40   8214   7847             137        r31         147
41    o42   8971   5984             146        r31         162
42    o43   9861   8300             137        r33         144
54    o55  10243   8313             102        r37         117
65    o66   4687   6979             198         r5         203
75    o76   9082   8584              93         r3         123
92    o93   6105   6712             168        r37         173
109  o110  10847   7708             108        r55         111
113  o114  10322   7982             171        r56         201
118  o119   8779  10013             187        r18         202
147  o148   9578   5886             117         r1         127
151  o152   1244   4698             177        r11         197
152  o153   8861   6199             117        r67         172
159  o160   8688   4534             184        r70         191
163  o164   9356   5244             118        r72         133
172  o173   9960   4600             138        r16         168
173  o174   6172   6752              98        r21         108
183  o184   7006   6398              98        r31         105
186  o187  10337   9272             176        r75         191
193  o194   9638   8151             177        r22         192
208  o209   6274   8084             117        r83         119
217  o218  10148   6212             184        r68         199
225  o226   8257   7638             102         r1         112
228  o229   2926   7519             108        r11         142
233  o234  11166   4842              92        r90         116
234  o235   9721   6153             201        r91         202
244  o245   8146   6753             152         r1         162
252  o253  10962   7130             162        r22         182
265  o266  11255   7452             100        r66         122
286  o287  10548   6916             155        r87         185
289  o290   8379   9745             151        r81         171
291  o292  10146   5603             156        r40         176
299  o300   9141   9906              97         r3         127
319  o320   9790   7349             180        r20         195
342  o343   4563   8053             177       r103         188
368  o369   9896   8582             185        r54         204
388  o389  10195   6593             166        r67         195
399  o400   3710   4439             151        r43         180
411  o412   9111   6674             197         r2         210
417  o418  10184   8397             112       r110         140
418  o419   9778   7773              96       r111         106
422  o423   7751   8242             170         r1         180
425  o426  10229   7353             124       r112         154
441  o442   9029   6991             137         r5         151
454  o455   7941   5331             104         r5         119
466  o467   1938   3092             124        r84         136
467  o468   2613   6438             105        r11         125
468  o469   7467   5117             190        r15         192
486  o487   7585   7376             181       r116         200
493  o494   6375   5646             171        r31         181
496  o497   8743   8768             199        r67         209

In [76]:
print(couriers[(couriers['on_time'] >=90) & (couriers['off_time'] <= 270)])
print("--------------")
print(orders[(orders['placement_time'] >=90) & (orders['ready_time'] <= 270)])

   courier      x      y  on_time  off_time
3       c4  12413   7222       90       270
4       c5   3572   3264       90       270
5       c6   9104  10812       90       270
6       c7   9135   2795       90       270
7       c8   6152    483       90       270
8       c9      0   7262       90       270
9      c10  10640   1782       90       210
10     c11  12054   3851       90       270
11     c12   1665   6706       90       210
12     c13  10821   1966       90       270
13     c14   9792   1088       90       270
14     c15   7996    237       90       270
15     c16   6406   5207       90       270
16     c17   3742   7596       90       270
17     c18   6541   4301       90       270
18     c19   3502  10823       90       270
19     c20   7691   7328       90       270
20     c21   1819   6723       90       270
22     c23  12346   4705       90       270
23     c24   5028   9204       90       270
24     c25   7888    206       90       270
--------------
    order      x     y  placement_time restaurant  ready_time
5      o6  10874  7195             131         r6         144
15    o16   8494  7488             265        r15         268
21    o22   2210  6886             152        r19         160
26    o27   9531  8542             202        r21         208
39    o40   8214  7847             137        r31         147
..    ...    ...   ...             ...        ...         ...
472  o473   8115  7963             220        r12         225
486  o487   7585  7376             181       r116         200
493  o494   6375  5646             171        r31         181
496  o497   8743  8768             199        r67         209
499  o500   7872  7823             231        r12         236

[94 rows x 6 columns]

In [77]:
print(couriers[(couriers['on_time'] >=90) & (couriers['off_time'] <= 293)])
print("--------------")
print(orders[(orders['placement_time'] >=90) & (orders['ready_time'] <= 293)])

   courier      x      y  on_time  off_time
3       c4  12413   7222       90       270
4       c5   3572   3264       90       270
5       c6   9104  10812       90       270
6       c7   9135   2795       90       270
7       c8   6152    483       90       270
8       c9      0   7262       90       270
9      c10  10640   1782       90       210
10     c11  12054   3851       90       270
11     c12   1665   6706       90       210
12     c13  10821   1966       90       270
13     c14   9792   1088       90       270
14     c15   7996    237       90       270
15     c16   6406   5207       90       270
16     c17   3742   7596       90       270
17     c18   6541   4301       90       270
18     c19   3502  10823       90       270
19     c20   7691   7328       90       270
20     c21   1819   6723       90       270
21     c22   9556   7777       90       293
22     c23  12346   4705       90       270
23     c24   5028   9204       90       270
24     c25   7888    206       90       270
--------------
    order      x     y  placement_time restaurant  ready_time
5      o6  10874  7195             131         r6         144
15    o16   8494  7488             265        r15         268
21    o22   2210  6886             152        r19         160
26    o27   9531  8542             202        r21         208
30    o31   8860  4758             266        r25         274
..    ...    ...   ...             ...        ...         ...
485  o486   6429  5148             270        r77         292
486  o487   7585  7376             181       r116         200
493  o494   6375  5646             171        r31         181
496  o497   8743  8768             199        r67         209
499  o500   7872  7823             231        r12         236

[108 rows x 6 columns]

In [78]:
print(couriers[(couriers['on_time'] >=210) & (couriers['off_time'] <= 330)])
print("--------------")
print(orders[(orders['placement_time'] >=210) & (orders['ready_time'] <= 330)])

   courier      x     y  on_time  off_time
25     c26   4779   143      210       330
26     c27  11457  2757      210       330
--------------
    order      x     y  placement_time restaurant  ready_time
15    o16   8494  7488             265        r15         268
30    o31   8860  4758             266        r25         274
45    o46   8877  7472             306        r35         329
52    o53   6248  5717             255        r30         261
70    o71   3138  6813             227        r43         256
74    o75   8082  8383             210        r21         219
86    o87   9670  7882             296         r1         306
87    o88   8580  4069             269        r47         284
93    o94  10010  9049             261        r44         263
104  o105  11027  6829             263        r27         274
112  o113   3689  7677             258        r21         270
124  o125   7948  4103             245        r60         280
130  o131   8507  4759             256        r62         266
135  o136   6682  6503             264        r37         279
148  o149   3591  4627             225        r53         253
155  o156   7631  5749             259        r68         274
167  o168   6394  4143             228         r1         238
170  o171   8717  5760             225        r31         234
176  o177   8598  6603             264        r67         284
190  o191  10299  5383             216        r77         228
192  o193   6032  6653             240         r1         250
203  o204   9948  5365             278        r62         280
204  o205   6460  6421             245        r16         275
222  o223   7800  9462             220        r86         250
223  o224   6405  7490             238        r87         268
241  o242   9220  6519             236        r53         259
266  o267   7432  5053             297        r27         305
267  o268   9995  3990             225        r54         239
276  o277   9040  5526             226        r30         237
284  o285   6716  3762             235        r53         244
307  o308   5613  3951             235        r84         243
317  o318   9360  9013             276         r1         286
320  o321  11223  8064             252         r1         262
328  o329   2887  6334             291        r93         304
330  o331   8895  7697             243         r1         253
338  o339  12487  1688             238       r101         247
339  o340   8855  5654             296        r89         300
352  o353   7386  5168             228        r90         250
358  o359   8863  5678             280        r89         282
364  o365   9834  5162             303       r108         323
367  o368  11638  3919             220        r17         226
401  o402   9314  4000             290        r30         300
440  o441  10172  5392             220        r12         262
446  o447   9254  8236             292        r15         293
447  o448  11408  6115             268        r40         276
448  o449   8995  8206             222        r54         236
465  o466   9526  8046             229       r100         230
472  o473   8115  7963             220        r12         225
485  o486   6429  5148             270        r77         292
498  o499   5375  6758             302        r15         320
499  o500   7872  7823             231        r12         236
501  o502   3813  8200             289        r99         325

In [81]:
print(couriers[(couriers['on_time'] >=270) & (couriers['off_time'] <= 450)])
print("--------------")
print(orders[(orders['placement_time'] >=270) & (orders['ready_time'] <= 450)])

   courier      x     y  on_time  off_time
27     c28   8274  8312      270       450
28     c29    164  8272      270       450
29     c30   3698  8149      270       450
30     c31  11670  3091      270       450
31     c32   3554  7018      270       450
32     c33   5825  5018      270       450
33     c34   5167  1707      270       450
34     c35   6707     0      270       450
35     c36  10919  2072      270       450
36     c37   9691  3350      270       450
39     c40    591  3370      400       450
--------------
    order      x     y  placement_time restaurant  ready_time
11    o12   8719  8104             313        r11         338
20    o21   7377  5287             336         r1         346
35    o36   8682  6032             421        r30         426
45    o46   8877  7472             306        r35         329
55    o56    891  6700             421        r11         441
85    o86   8857  8636             383        r49         390
86    o87   9670  7882             296         r1         306
125  o126  10875  7770             334        r61         356
168  o169   9059  7396             349        r45         351
169  o170   8888  6745             383        r60         386
179  o180   4691  5704             430        r14         444
203  o204   9948  5365             278        r62         280
206  o207  10128  8235             329        r10         344
266  o267   7432  5053             297        r27         305
268  o269   5843  9448             305        r96         335
297  o298   6194  6049             333        r39         341
306  o307   3375  7045             368        r11         393
311  o312   8162  6477             403       r100         415
317  o318   9360  9013             276         r1         286
328  o329   2887  6334             291        r93         304
339  o340   8855  5654             296        r89         300
347  o348   6941  6978             373        r19         388
356  o357   9332  7084             344        r22         358
358  o359   8863  5678             280        r89         282
364  o365   9834  5162             303       r108         323
394  o395   7279  5544             371        r25         396
401  o402   9314  4000             290        r30         300
412  o413   3923  6917             338        r11         358
415  o416   9337  8058             428        r45         441
435  o436  10544  6999             369        r50         376
446  o447   9254  8236             292        r15         293
458  o459   9754  4670             335        r60         355
460  o461   5470  8743             409        r28         428
462  o463   6690  7706             420        r17         433
477  o478  11134  7971             338        r30         343
478  o479   7872  6359             407        r30         414
485  o486   6429  5148             270        r77         292
487  o488   8089  9320             349        r91         364
497  o498   9132  6880             330         r1         340
498  o499   5375  6758             302        r15         320
501  o502   3813  8200             289        r99         325

In [82]:
print(couriers[(couriers['on_time'] >=390) & (couriers['off_time'] <= 510)])
print("--------------")
print(orders[(orders['placement_time'] >=390) & (orders['ready_time'] <= 510)])

   courier      x     y  on_time  off_time
37     c38   4627  5402      390       510
38     c39  10479  5571      390       510
39     c40    591  3370      400       450
--------------
    order      x     y  placement_time restaurant  ready_time
13    o14   1478  5111             455        r13         463
35    o36   8682  6032             421        r30         426
36    o37   9028  8513             458         r7         473
44    o45   4775  7141             446        r34         451
49    o50   8218  4121             494        r30         502
50    o51   7550  6061             493         r1         503
55    o56    891  6700             421        r11         441
62    o63   7054  9176             486        r21         503
72    o73  10037  8991             480        r44         483
84    o85   9812  5019             493        r28         503
103  o104   6613  7377             496        r13         508
116  o117   9736  6546             479        r58         509
128  o129   7522  8689             436        r37         464
139  o140   6391  9575             497        r21         506
174  o175   6881  7247             462        r13         463
179  o180   4691  5704             430        r14         444
201  o202   6519  3954             487        r17         502
218  o219   8584  9326             477        r66         488
221  o222   8841  9392             482        r15         487
245  o246   9187  8245             486         r1         506
246  o247  11045  5202             455        r22         469
277  o278   1809  7038             469        r13         483
281  o282   1568  3833             445        r84         454
285  o286   6849  7288             498        r30         505
294  o295   7848  8279             465        r54         485
311  o312   8162  6477             403       r100         415
313  o314   6207  5384             486        r98         505
331  o332   7242  6944             475        r37         482
332  o333  10266  9060             461        r63         465
374  o375  10075  9000             480        r44         483
390  o391   7573  9004             458        r91         471
400  o401   4414  5334             482        r84         494
402  o403   7462  4796             459        r22         469
404  o405   8880  8207             454        r42         484
415  o416   9337  8058             428        r45         441
439  o440   8004  1363             499       r101         506
460  o461   5470  8743             409        r28         428
462  o463   6690  7706             420        r17         433
463  o464  11309  8312             458        r12         495
474  o475   9203  7894             496       r105         509
478  o479   7872  6359             407        r30         414
479  o480   6227  6932             436        r12         451
492  o493  11370  8339             453         r3         483
494  o495   7349  9863             437        r12         452

In [83]:
print(couriers[(couriers['on_time'] >=400) & (couriers['off_time'] <= 450)])
print("--------------")
print(orders[(orders['placement_time'] >=400) & (orders['ready_time'] <= 450)])

   courier    x     y  on_time  off_time
39     c40  591  3370      400       450
--------------
    order     x     y  placement_time restaurant  ready_time
35    o36  8682  6032             421        r30         426
55    o56   891  6700             421        r11         441
179  o180  4691  5704             430        r14         444
311  o312  8162  6477             403       r100         415
415  o416  9337  8058             428        r45         441
460  o461  5470  8743             409        r28         428
462  o463  6690  7706             420        r17         433
478  o479  7872  6359             407        r30         414

In [84]:
print(couriers[(couriers['on_time'] >=450) & (couriers['off_time'] <= 560)])
print("--------------")
print(orders[(orders['placement_time'] >=450) & (orders['ready_time'] <= 560)])

   courier      x     y  on_time  off_time
40     c41  11185  2386      450       560
--------------
    order      x     y  placement_time restaurant  ready_time
1      o2   9024  6677             541         r2         557
10    o11   3025  6413             526        r10         541
12    o13   9483  8122             508        r12         518
13    o14   1478  5111             455        r13         463
28    o29   7668  7425             535        r23         552
..    ...    ...   ...             ...        ...         ...
474  o475   9203  7894             496       r105         509
488  o489   7613  8632             484        r90         522
489  o490  10524  8446             551        r20         556
492  o493  11370  8339             453         r3         483
500  o501   6531  4914             497       r102         521

[96 rows x 6 columns]

In [85]:
print(couriers[(couriers['on_time'] >=450) & (couriers['off_time'] <= 630)])
print("--------------")
print(orders[(orders['placement_time'] >=450) & (orders['ready_time'] <= 630)])

   courier      x      y  on_time  off_time
40     c41  11185   2386      450       560
41     c42   3461   6279      450       630
42     c43   6471   4531      450       630
43     c44   1801   2648      450       630
44     c45   6046   4861      450       630
45     c46   5806  11777      450       630
46     c47  12555   6153      450       630
47     c48   5832   3054      450       630
48     c49   2093   5394      450       630
49     c50   3666  10812      450       630
50     c51   9123    688      450       630
52     c53  11235   2450      450       630
53     c54   9859   1134      450       630
54     c55  12039   3816      450       630
55     c56   4803   4723      450       630
56     c57   9674   2063      450       630
57     c58   2808   7200      450       630
58     c59  11415   2695      450       630
59     c60   7519    117      450       630
60     c61  10157   8792      450       630
61     c62   3088   7823      450       630
62     c63   8144  11395      450       630
63     c64   5456     94      450       630
64     c65   3154   7997      450       630
65     c66   5354   1159      510       630
80     c81   9110   5697      510       630
86     c87   3791  10253      510       630
88     c89   9977   1219      510       630
--------------
    order      x     y  placement_time restaurant  ready_time
1      o2   9024  6677             541         r2         557
3      o4   6019  5613             566         r4         582
4      o5   7083  5106             574         r5         582
6      o7   4015  7024             588         r7         598
7      o8   7940  6877             612         r1         622
..    ...    ...   ...             ...        ...         ...
489  o490  10524  8446             551        r20         556
492  o493  11370  8339             453         r3         483
500  o501   6531  4914             497       r102         521
502  o503   3023  4692             576        r93         588
504  o505   8804  5179             597         r7         604

[213 rows x 6 columns]

In [86]:
print(couriers[(couriers['on_time'] >=450) & (couriers['off_time'] <= 645)])
print("--------------")
print(orders[(orders['placement_time'] >=450) & (orders['ready_time'] <= 645)])

   courier      x      y  on_time  off_time
40     c41  11185   2386      450       560
41     c42   3461   6279      450       630
42     c43   6471   4531      450       630
43     c44   1801   2648      450       630
44     c45   6046   4861      450       630
45     c46   5806  11777      450       630
46     c47  12555   6153      450       630
47     c48   5832   3054      450       630
48     c49   2093   5394      450       630
49     c50   3666  10812      450       630
50     c51   9123    688      450       630
51     c52   9632   8252      450       645
52     c53  11235   2450      450       630
53     c54   9859   1134      450       630
54     c55  12039   3816      450       630
55     c56   4803   4723      450       630
56     c57   9674   2063      450       630
57     c58   2808   7200      450       630
58     c59  11415   2695      450       630
59     c60   7519    117      450       630
60     c61  10157   8792      450       630
61     c62   3088   7823      450       630
62     c63   8144  11395      450       630
63     c64   5456     94      450       630
64     c65   3154   7997      450       630
65     c66   5354   1159      510       630
80     c81   9110   5697      510       630
86     c87   3791  10253      510       630
88     c89   9977   1219      510       630
--------------
    order      x     y  placement_time restaurant  ready_time
1      o2   9024  6677             541         r2         557
3      o4   6019  5613             566         r4         582
4      o5   7083  5106             574         r5         582
6      o7   4015  7024             588         r7         598
7      o8   7940  6877             612         r1         622
..    ...    ...   ...             ...        ...         ...
489  o490  10524  8446             551        r20         556
492  o493  11370  8339             453         r3         483
500  o501   6531  4914             497       r102         521
502  o503   3023  4692             576        r93         588
504  o505   8804  5179             597         r7         604

[236 rows x 6 columns]

In [87]:
print(couriers[(couriers['on_time'] >=510) & (couriers['off_time'] <= 630)])
print("--------------")
print(orders[(orders['placement_time'] >=510) & (orders['ready_time'] <= 630)])

   courier     x      y  on_time  off_time
65     c66  5354   1159      510       630
80     c81  9110   5697      510       630
86     c87  3791  10253      510       630
88     c89  9977   1219      510       630
--------------
    order      x     y  placement_time restaurant  ready_time
1      o2   9024  6677             541         r2         557
3      o4   6019  5613             566         r4         582
4      o5   7083  5106             574         r5         582
6      o7   4015  7024             588         r7         598
7      o8   7940  6877             612         r1         622
..    ...    ...   ...             ...        ...         ...
481  o482   4094  5022             578        r11         608
482  o483   4603  7580             603        r34         608
489  o490  10524  8446             551        r20         556
502  o503   3023  4692             576        r93         588
504  o505   8804  5179             597         r7         604

[164 rows x 6 columns]

In [88]:
print(couriers[(couriers['on_time'] >=510) & (couriers['off_time'] <= 690)])
print("--------------")
print(orders[(orders['placement_time'] >=510) & (orders['ready_time'] <= 690)])

   courier      x      y  on_time  off_time
65     c66   5354   1159      510       630
66     c67  12394   4899      510       690
67     c68   5763   9892      510       690
68     c69    616   9323      510       690
69     c70  12519   5630      510       690
70     c71   8103  10376      510       690
71     c72  12510   5556      510       690
72     c73   4466   4292      510       690
73     c74  12343   4692      510       690
74     c75  12170   4146      510       690
75     c76   8955    669      510       690
76     c77   2984  10794      510       690
77     c78   3097  10033      510       690
78     c79   5784      3      510       690
79     c80   4354    317      510       690
80     c81   9110   5697      510       630
81     c82  12513   5578      510       690
82     c83   5503   1889      510       690
83     c84   5113   3025      510       690
84     c85  11338   2588      510       690
85     c86    983   4340      510       690
86     c87   3791  10253      510       630
87     c88   1942   9502      510       690
88     c89   9977   1219      510       630
89     c90   8098   4067      510       690
90     c91   2297   5297      510       690
91     c92  11352   2606      510       690
--------------
    order     x     y  placement_time restaurant  ready_time
1      o2  9024  6677             541         r2         557
2      o3  5645  7048             626         r3         656
3      o4  6019  5613             566         r4         582
4      o5  7083  5106             574         r5         582
6      o7  4015  7024             588         r7         598
..    ...   ...   ...             ...        ...         ...
491  o492  6626  4729             633         r3         663
495  o496  6901  6689             663       r105         673
502  o503  3023  4692             576        r93         588
503  o504  9417  4103             623        r28         649
504  o505  8804  5179             597         r7         604

[241 rows x 6 columns]

In [89]:
print(couriers[(couriers['on_time'] >=630) & (couriers['off_time'] <= 702)])
print("--------------")
print(orders[(orders['placement_time'] >=630) & (orders['ready_time'] <= 702)])

   courier     x     y  on_time  off_time
98     c99  2361  1278      630       702
--------------
    order      x      y  placement_time restaurant  ready_time
8      o9   9275   6221             680         r8         700
14    o15   3664   6875             646        r14         666
16    o17   9338   7050             647        r16         677
32    o33   8065   7096             643        r27         667
47    o48   5913   7025             659        r36         674
57    o58   2654   7033             640        r38         650
58    o59   9986   5085             645        r24         671
67    o68   4850   5008             631         r1         641
68    o69   9990   6549             680         r1         700
76    o77   8564   5397             652        r45         679
81    o82   8882   5276             646        r48         657
96    o97   6121   9619             644        r51         664
100  o101   8658   4000             635        r53         655
105  o106   9501   9560             665        r39         673
121  o122   9921  10022             676        r20         691
126  o127   4925   7279             651        r51         671
137  o138   8436   5848             665        r24         684
144  o145   7587   7353             630        r66         646
149  o150   6934   8954             660        r59         665
165  o166  11141   6398             641        r36         654
187  o188   9162   6714             666        r62         686
188  o189   5149   7901             643        r41         658
209  o210   8639   4642             638        r24         661
219  o220   6812   3848             692        r39         697
220  o221   9054   6579             631        r24         661
227  o228   7497   6507             633        r85         643
229  o230   9778   7214             669        r15         673
257  o258   7817   8908             641        r94         669
258  o259   9068   9068             632         r9         662
263  o264  10096   7301             660         r1         670
269  o270   8277   8461             687        r90         696
282  o283   5169   7710             657        r13         677
295  o296   5908   7618             635        r20         660
298  o299   8315   8412             674         r8         689
303  o304  10031   7291             680        r94         697
312  o313   4262   6995             653        r11         673
326  o327   8829   4894             641        r20         666
337  o338   9103   7939             641         r1         661
346  o347  11318   7860             635       r101         642
351  o352   4305   7134             675       r105         690
357  o358  10879   6777             683        r24         697
359  o360   2681   4888             644        r11         674
366  o367  11281   6678             671        r20         688
371  o372   7737   6376             667        r77         680
377  o378  10507   8548             652        r12         662
380  o381   8336   4568             659        r20         688
387  o388   1677   6511             662        r39         663
403  o404   6489   4952             631        r18         658
406  o407   6743   7355             634        r20         656
409  o410   9134   7900             680        r69         692
421  o422   8182   6165             634        r16         664
442  o443   7051   7456             663        r12         674
444  o445   9454   7984             646       r114         661
461  o462   9667   7259             670        r92         700
484  o485   9946   4986             669        r20         688
490  o491   9753   8363             690        r66         702
491  o492   6626   4729             633         r3         663
495  o496   6901   6689             663       r105         673

In [90]:
print(couriers[(couriers['on_time'] >=630) & (couriers['off_time'] <= 750)])
print("--------------")
print(orders[(orders['placement_time'] >=630) & (orders['ready_time'] <= 750)])

    courier      x      y  on_time  off_time
92      c93   4340  10009      630       750
93      c94  11639   3039      630       750
94      c95   7711   7058      630       750
95      c96   4642   6358      630       750
96      c97   6836   3520      630       750
97      c98   5331  11095      630       750
98      c99   2361   1278      630       702
99     c100   8147   7429      630       750
100    c101   2670   9135      630       750
101    c102    415   8926      630       750
102    c103   3899   6292      630       750
103    c104   3823   1930      630       750
--------------
    order     x     y  placement_time restaurant  ready_time
8      o9  9275  6221             680         r8         700
14    o15  3664  6875             646        r14         666
16    o17  9338  7050             647        r16         677
32    o33  8065  7096             643        r27         667
47    o48  5913  7025             659        r36         674
..    ...   ...   ...             ...        ...         ...
475  o476  6534  9767             704        r52         709
484  o485  9946  4986             669        r20         688
490  o491  9753  8363             690        r66         702
491  o492  6626  4729             633         r3         663
495  o496  6901  6689             663       r105         673

[83 rows x 6 columns]

In [91]:
print(couriers[(couriers['on_time'] >=690) & (couriers['off_time'] <= 810)])
print("--------------")
print(orders[(orders['placement_time'] >=690) & (orders['ready_time'] <= 810)])

    courier      x     y  on_time  off_time
104    c105   3810  7415      690       810
106    c107  11678  3104      690       810
107    c108   7651  4332      690       810
108    c109  10855  7784      690       810
110    c111   5013  2778      690       810
111    c112   8236  1518      690       810
--------------
    order      x      y  placement_time restaurant  ready_time
0      o1   9131   7497             743         r1         753
34    o35   9074   8326             763        r29         788
53    o54   8230   8128             740         r1         750
80    o81   9098   8163             776         r1         786
91    o92  10842   7078             774        r28         790
98    o99  10217   8134             756        r52         774
141  o142   6237   6394             708        r13         723
150  o151   7212   3738             710         r1         720
160  o161   8914   5208             703         r1         713
177  o178   9544  10027             696        r37         704
180  o181   9537   4108             720        r28         745
182  o183  10487   5816             703         r1         723
184  o185   6477   9639             778        r52         788
185  o186   8447   9334             697        r28         708
191  o192   8484   8769             733         r1         743
195  o196   7793   5850             732         r1         752
198  o199   9219   7690             714        r37         731
202  o203  10958   8093             698        r29         705
215  o216   4510   4927             732        r17         740
219  o220   6812   3848             692        r39         697
230  o231   6155   6841             784        r14         802
231  o232   8553   7599             697        r89         724
238  o239   5908   7070             715        r90         728
247  o248  11189   8253             698        r28         709
253  o254   8502   3999             706        r53         720
272  o273   9663   8107             740        r14         754
300  o301   9974   9211             690        r90         705
309  o310   9726   8310             738        r75         753
321  o322   7204   7843             711         r1         731
335  o336   5748   7681             712        r13         723
355  o356   1015   6740             704        r13         721
376  o377   9473   8293             744        r28         755
378  o379   9578   8677             775        r37         794
386  o387   5392   6762             704       r109         718
428  o429   8208   3771             760         r1         780
432  o433   5623   6813             712        r39         717
450  o451   9671   8669             741       r115         771
452  o453  10277   8882             709        r59         714
453  o454   7518   7385             739        r28         754
455  o456   9181   8209             770        r42         800
470  o471   8987   8822             742        r58         772
471  o472  10167   7240             725        r17         734
475  o476   6534   9767             704        r52         709
480  o481   9238   7448             750        r58         780
483  o484   8806   6827             776        r28         786
490  o491   9753   8363             690        r66         702

In [92]:
print(couriers[(couriers['on_time'] >=690) & (couriers['off_time'] <= 840)])
print("--------------")
print(orders[(orders['placement_time'] >=690) & (orders['ready_time'] <= 840)])

    courier      x     y  on_time  off_time
104    c105   3810  7415      690       810
105    c106   3217  9891      690       840
106    c107  11678  3104      690       810
107    c108   7651  4332      690       810
108    c109  10855  7784      690       810
109    c110   7038  5694      690       840
110    c111   5013  2778      690       810
111    c112   8236  1518      690       810
112    c113   4981  4827      690       840
--------------
    order      x      y  placement_time restaurant  ready_time
0      o1   9131   7497             743         r1         753
34    o35   9074   8326             763        r29         788
53    o54   8230   8128             740         r1         750
80    o81   9098   8163             776         r1         786
91    o92  10842   7078             774        r28         790
98    o99  10217   8134             756        r52         774
131  o132   9261   8813             792        r63         822
141  o142   6237   6394             708        r13         723
150  o151   7212   3738             710         r1         720
160  o161   8914   5208             703         r1         713
177  o178   9544  10027             696        r37         704
180  o181   9537   4108             720        r28         745
182  o183  10487   5816             703         r1         723
184  o185   6477   9639             778        r52         788
185  o186   8447   9334             697        r28         708
191  o192   8484   8769             733         r1         743
195  o196   7793   5850             732         r1         752
198  o199   9219   7690             714        r37         731
202  o203  10958   8093             698        r29         705
215  o216   4510   4927             732        r17         740
219  o220   6812   3848             692        r39         697
230  o231   6155   6841             784        r14         802
231  o232   8553   7599             697        r89         724
238  o239   5908   7070             715        r90         728
247  o248  11189   8253             698        r28         709
253  o254   8502   3999             706        r53         720
272  o273   9663   8107             740        r14         754
300  o301   9974   9211             690        r90         705
309  o310   9726   8310             738        r75         753
321  o322   7204   7843             711         r1         731
335  o336   5748   7681             712        r13         723
355  o356   1015   6740             704        r13         721
376  o377   9473   8293             744        r28         755
378  o379   9578   8677             775        r37         794
386  o387   5392   6762             704       r109         718
428  o429   8208   3771             760         r1         780
432  o433   5623   6813             712        r39         717
450  o451   9671   8669             741       r115         771
452  o453  10277   8882             709        r59         714
453  o454   7518   7385             739        r28         754
455  o456   9181   8209             770        r42         800
470  o471   8987   8822             742        r58         772
471  o472  10167   7240             725        r17         734
475  o476   6534   9767             704        r52         709
480  o481   9238   7448             750        r58         780
483  o484   8806   6827             776        r28         786
490  o491   9753   8363             690        r66         702